// mixin to change color lightness

@mixin bac($color) {
  @if (lightness($color) > 70) {
    background-color: darken($color, 5);
  } @else {
    background-color: lighten($color, 5);
  }
}

@mixin col($color) {
  @if (lightness($color) > 70) {
    color: darken($color, 50);
  } @else {
    color: lighten($color, 30);
  }
}

// mixins for responsive design

@mixin mob {
  @media screen and (max-width: map-get($breakpoints, mob)) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: map-get($breakpoints, tab)) {
    @content;
  }
}