// color variables

$color-primary: #161920;
$color-lightblue: #f1f6f5;
$color-white: white;
$color-black: black;

// breakpoints variable

$breakpoints: (
    mob: 768px,
    tab: 992px,
    des: 1480px
);